[Unit]
Description=Django Admin Daemon
After=network.target

[Service]
User=terrylimax
Group=terrylimax
WorkingDirectory=/home/terrylimax/FitEasy/projectb
Environment="PYTHONPATH=/home/terrylimax/FitEasy"
ExecStart=/home/terrylimax/FitEasy/venv/bin/gunicorn --workers 2 --bind unix:/run/tgadmin.sock wsgi:application
Restart = on-failure

[Install]
WantedBy=multi-user.target